<!DOCTYPE html>
<html ng-app="hcciApp">
<head>
<link href="resources/css/bootstrap.css" rel="stylesheet">
<meta charset="UTF-8">
<title>HCCIApp</title>
</head>
<body>
<div class="header" style="background-color: #dbdedc;">
<p> </p>
<img src="content/images/hcci_logo.png">
<p><strong>Proof of concept - Pilot</strong></p>
<p> </p><p> </p>
</div>
	<!-- Place holder Ng-View- -->
	<div style="background-color: #f2f2f1;">
	<p> </p>
		<div ng-view></div>
	<p> </p>
	<p> </p>
	</div>
<div class="footer" style="background-color: #dbdedc;">
<p> </p>
<p style="text-align:right;">Copyright 2014 Health Care Cost Institute Inc. </p>
<p style="text-align:right;"><a href="http://www.healthcostinstitute.org">HCCI Site</a></p>
<p>Return to <a href="#/home">Search</a> </p>
<p> </p>
</div>

</body>
<!-- Load Script -->
<script src="resources/vendor/angular.js"></script>
<script src="resources/vendor/angular-route.js"></script>
<script src="resources/scripts/app.js"></script>
<script src="resources/vendor/ui-bootstrap-tpls.js"></script>
</html>

